	<h3>ユーザー編集</h3>

	<%= form_for(@user) do |f| %>

		<h4>イメージ選択</h4>
		<%= f.attachment_field :profile_image %>

<!-- ここにプレビュー画像を表示したい！！！ -->
		<%= attachment_image_tag @user, :profile_image, size: "200x200" %>








		<h4>ユーザー名</h4>
		<%= f.text_field :name %>

		<h4>メールアドレス</h4>
		<%= f.text_field :email %>




		<%= f.submit '変更する' %>

	<% end %>