<div class="container">
  　<h1>@<%= @user.name %></h1>

	<div style="text-align:center;">
	<!-- フォロー機能 -->
		<% unless @user == current_user %>
			<% if current_user.following?(@user) %>
				<%= link_to 'フォローを解除する', unfollow_path(@user.id), method: :get, class:"btn-orange" %>
			<% else %>
				<%= link_to 'フォローする', follow_path(@user.id), method: :get, class:"btn-orange" %>
			<% end %>
		<% end %>


		<div class="image">
			<%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "200x200" %>
		</div>


	<!-- 本人であれば、表示させる -->
		<% if @user == current_user %>
			<div class="btn btn-success">
				<%= link_to "登録内容を変更する", edit_user_path(current_user.id) %>
			</div>
		<% end %>


		<h2><%= @user.name %></h2><br>
			<h4>投稿数　<strong><%= @user.post_images.count %></strong> 件</h4><br>
			<p>  フォロー中 人数<br>
			<%= link_to @user.follower.count, users_follower_path(id:@user.id) %><br>
			  フォロワー 人数<br>
			<%= link_to @user.followed.count, users_followed_path(id:@user.id) %></p>

<!-- 本人であれば、表示させる -->
	　<% if @user == current_user %>
		<div class="btn btn-info">
			<%= link_to "パスワード変更はこちら", new_user_password_path(current_user.id) %>
		</div>

<!-- 本人であれば、表示させる -->
		<div class="btn btn-danger">
			<%= link_to "退会する", users_bye_confirm_path %>
		</div>
	　<% end %>

	</div>

	<!-- @userの投稿写真一覧 -->
	<div class="user_post">
		<% @user.post_images.each do |post_image| %>
			<%= attachment_image_tag post_image,:image, size: "270x225" %>
		<% end %>
	</div>

</div>