<h1>My Page</h1>

<!-- 	<h4>イメージ画像</h4> -->
	<div class="image">
		<%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "150x150" %>
	</div>



	<div>
		<%= link_to "登録内容を変更する", edit_user_path(current_user.id) %>
	</div>

	<h4>ユーザー名</h4>
	<%= current_user.name %><br>
	<%= current_user.email %><br>
	<%= current_user.post_images.count %>件<br>
	<p>フォロー中</p><br>
	<p>フォロワー</p>


	<div>
		<%= link_to "パスワード変更はこちら", new_user_password_path(current_user.id) %>
	</div>

	<div>
		<%= link_to "退会する", users_bye_confirm_path %>
<!-- 退会確認ページつくろうかな -->
	</div>


