<div class="container">
	<div class="row">

		<!-- 新規投稿画面 form_for使用-->
		<%= form_for(@post_image) do |f| %>

		<h2>NEW POST</h2>

		<!-- エラーメッセージ表示テンプレート -->
		<div class="new-post">
			<%= render 'layouts/error_messages', model: f.object %>

				<%= f.attachment_field :image %>

				<h4>タイトル</h4>
				<%= f.text_field :title %>

				<h4>説明</h4>
				<%= f.text_area :body, placeholder: 'キャプション入力' %>

				<%= f.submit 'シェアする', class: "btn btn-primary rounded-pill" %>


			<% end %>
		</div>

	</div>
</div>
