<!DOCTYPE html>
<html>
  <head>
    <title>Travelers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- font-awesome追加 -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!-- jquery追加 -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>



  </head>

  <body>
  <!-- ナビゲーションバー -->
    <header class="header">
      <div class="header-menu">

          <nav>
            <ul>
                <li class="logo"><%= image_tag('logo.png') %></li>

              <% if user_signed_in? %>
                <li class="nav"><%= link_to "TOP", root_path %></li>
                <li class="nav"><%= link_to "About", about_path %></li>
                <li class="nav"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                <li class="nav"><%= link_to "My Page", user_path(current_user.id) %></li>
                <li class="icon">
                  <%= attachment_image_tag current_user, :profile_image, fallback: "no_image.jpg", :class => "p-img" %>
                </li>
              <% else %>
                <li class="nav"><%= link_to "TOP", root_path %></li>
                <li class="nav"><%= link_to "About", about_path %></li>
                <li class="nav"><%= link_to "Login", new_user_session_path %></li>
                <li class="nav"><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </nav>

      </div>
    </header>

  <!-- ログインエラー時のflashメッセージ -->
      <% if flash[:alert] %>
        <div class="alert">
          <%= alert %>
        </div>
      <% end %>

  <!-- flashサクセスメッセージ  -->
      <br>
      <br>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

    <%= yield %>

  </body>
</html>
