<!DOCTYPE html>
<html>
  <head>
    <title>Travelers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <!-- ナビゲーションバー -->
    <header class="header">
      <div class="header-menu">

        <h1>Travelers</h1>

          <nav>
            <ul>
              <% if user_signed_in? %>
                <li><a href="#"><%= link_to "TOP", root_path %></li>
                <li><a href="#"><%= link_to "About", about_path %></li>
                <li><a href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                <li><a href="#"><%= link_to "My Page", user_path(current_user.id) %></li>
                <div class="icon">
                  <%= attachment_image_tag current_user, :profile_image, fallback: "no_image.jpg", :class => "p-img" %>
                </div>
              <% else %>
                <li><%= link_to "TOP", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </nav>

      </div>
    </header>


  <!-- ログインエラー時のflashメッセージ -->
      <% if flash[:alert] %>
        <div class="alert">
          <%= alert %>
        </div>
      <% end %>

  <!-- flashサクセスメッセージ  -->
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

    <%= yield %>

  </body>
</html>
